p{
  text-align: center;
  font-size: 50px;
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  padding: 50px;
  width: 70%;
  height: auto;
}
.responsive {
  /* padding: 5px 6px; */
  padding-left: -50px;
  float: left;
  width: 24.99999%;
}
